:root {
  --primary: #f05a26;
  --primary-bg: #f3f3f0;
  --bg: #f0f0f5;
  --primary-text:#403c3c;
  --secondary-text: #9e9ea8;
}

* {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.app {
  margin: auto;
  max-width: 390px;
  background-color:var(--bg);
}

.title {
  color: var(--primary-text);
  font-size: 14px;
}
.sub-title {
  color: var(--secondary-text);
  font-size: 10px;
}

h4 {
  padding: 8px;
}

.checkout-header {
 text-align: center;
 padding: 8px 16px;
 position: relative;
 background-color: white;
}

.back-arrow {
  position: absolute;
}

.cart-container {
 padding: 8px;
}

.cart-container .cart-item {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  margin-bottom: 8px;
}

.right-section {
  flex: 1;
  padding-left: 8px;
}

.cart-container .cart-item img {
  max-width: 80px;
}

.cart-container .cart-item .price-quantity {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 16px;
}

.cart-item .price-quantity button {
  padding: 4px 16px;
  min-width: 88px;
  background-color: rgba(240, 90, 38, 0.15);
  color: var(--primary);
  border-radius: 6px;
  border: 1px solid var(--primary);
}

.cart-container.frequent {
  display: flex;
  gap: 10px;
  overflow: auto
}

.cart-container.frequent img{
  max-width: 100%;
}

.cart-container.frequent .cart-item{
  display: block;
  min-width: 150px;
}

.cart-container.frequent .cart-item img{
  max-width: 100%;
}

.lower-section {
  border-radius: 8px;
  background-color: white;
  margin: 10px;
  padding: 14px;
}

.lower-section > div {
  padding: 8px ;
  display: flex;
}

.lower-section .price-section {
  border-top: 1px solid var(--bg); 
  display: flex;
  justify-content: space-between;
 }

.price-section .inner {
  display: flex;
}

.save-btn {
  margin: 10px;
  background-color: var(--primary);
  border-radius: 8px;
  border: 0;
  color: white;
  width: 95%;
  padding: 8px;
}
